*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared code */
.custom-btn{
    background-color: #30B868;
    margin: 24px 0px;
    padding: 13px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
    color: #FFFFFF;
}
.custom-btn:hover{
  background-color: #0f8741;
}

/* main code */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
    background-color: #FFFFFF;
}
header .nav-ul-container ul{
    display: flex;
}
header .nav-ul-container ul li {
    margin: 34px 32px;
    list-style: none;
}
.nav-item a{
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
}
