*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared code */
.custom-btn{
    background-color: #30B868;
    margin: 24px 0px;
    padding: 13px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
    color: #FFFFFF;
}
.custom-btn:hover{
  background-color: #0f8741;
}

/* main code */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
    background-color: #FFFFFF;
}
header .nav-ul-container ul{
    display: flex;
}
header .nav-ul-container ul li {
    margin: 34px 32px;
    list-style: none;
}
.nav-item a{
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
}
/* banner section */
.banner-section{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    
   
}
.banner-section .banner-content{
    margin: 120px;
    text-align: center;
    width: auto;
}
#banner-head-btn{
    background-color: #FFFFFF;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px 8px 34px ;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500px;
}
.banner-radio{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #30B868;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
     margin-right: 6px;
   

}
.banner-common-title{
    font-size: 72px;
    font-weight:bold;
    text-transform: capitalize;
    color: #FFFFFF;
   

    
}
#banner-sub-title{

    color:#30B868;
     margin-bottom: 16px;
    

}
.banner-content p{
    color: #FFFFFF;
    line-height: 28px;
    font-size: 18px;
     
   
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
#banner-btn-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.banner-btn-2{
    
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 4px;  
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600px;
  padding: 13px 16px;
  display: flex;
  justify-content: center;
   align-items: center;
   gap: 10px;

}
/* note sections */
.notes-title-container{
    margin: 0px 120px ;
}
.notes-container-title{
    text-align: center;
}
.notes-container-title h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 16px;
}
.notes-container-title p {
    font-size: 16px;
    color:  #627382;
}
.notes-card-container{
    margin: 44px 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap :24px;
    
}
.note-card{
    height: 320px;
    height:300px;
    border-radius: 8px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 0px 8px #545454;

}
.note-image{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 131px 16px ;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 0px 24px;
    text-transform: capitalize;

}
.note-card p{
    font-size: 16px;
    color: #627382;
    margin: 16px 24px 0px;

}
